:root{
    --main-color: #0f0f0f;
    --search-back:#121212;
    --main-text: #ffffff;
    --secondary-text:#aaa;
    --hovered: #c2c2c233;
    --actived:#c2c2c256;
    --border:#303030;
    
}

* {
background-color:var(--main-color);
color: var(--main-text);
font-family: Roboto, Noto, sans-serif;
font-size: 11px;
}

body{
overflow-y: hidden;
}


/*================================= header =================================== */

.header {
background-color: inherit;
width: 98.7%;
height: 56px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: fixed;
margin: -7px;
z-index: 9997;
top:0;
padding-top: 3px;
}

/*==============================container to contain header items===========================*/
.header>.container {
padding-left: 16px;
padding-right: 0;
padding-top: 8px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}



/*==============================left side of container================================*/

.header>.container>.start {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

/*=================================options button=================================== */
.start>.nav-btn {
width: 40px;
height: 40px;
border: none;
padding: 8px;
margin-right: 1px;
}

.start>.nav-btn svg {


fill: currentcolor;
background-color: transparent;

}
.start >.nav-btn:hover{
background-color: var(--hovered);
border-radius: 24px;
}

.start >.nav-btn:active
{
background-color: var(--actived);
}
/*==================================youtube icon======================================*/
.start>.icon {
padding: 18px 16px 18px 17.2px;
display: flex; 
align-items: center;
fill: currentcolor;

}

.start > .icon > .Gtube > b{
color: var(--main-text);
font-family: Roboto, Noto, sans-serif;
font-size: 19px;
 display: inline-block;
line-height: 17.98px; 
width: 56.19px;
margin-left: 1px;
padding-left: 1px;

}


.start>.statecode {
color: var(--secondary-text);
margin: -22px 0 0 -11px;
}

a{
text-decoration: none;
 user-select: none; /* This property denies text selection */
    
}
/*======================================middle of container==============================*/
.container>.center {
margin: 0 0 0 40px;
padding: 0 4px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

/*=========================================Search box=====================================*/
.center>.search-div {
width: auto;
height:38.23px;
background-color: var(--search-back);
border: 0.1ch solid var(--border);
border-radius: 40px 0px 0px 40px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0 4px 0 16px;
border-right: none;
margin-left: 32px;

position: relative;

}

.center>.clicked{
border: 1px solid #1c62b9;

margin-left: 0;
padding: 2px 4px 2px 48px;
}
/* ========================= autofill color adjust for crome or safari========================== */
input:-webkit-autofill {

/* Adjust background color */
-webkit-box-shadow: 0 0 0 1000px var(--search-back) inset !important;
/* Adjust text color */
-webkit-text-fill-color: var(--main-text) !important;
-webkit-text-size-adjust: 16px;
}


/*================================ inputbox================================= */
.search-form{
height: 38px;
width: 504px;
display: flex;
flex-direction: row;

}

.center >.search-div>.svgsrch{
fill: currentcolor;
background-color: transparent;
padding: 0 12px 0 16px;
justify-content: flex-start;
position: absolute; 
left: 0; 

}

.search-input{
display: flex;
flex-direction: row;
width: 100%;
background: transparent;
}

.center input {
background-color: var(--search-back) !important;
box-shadow: none;
outline: none;
font-family: Roboto, Noto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: var(--main-text);
padding: 1px 0;
margin: 0;
width: 255%;
border: none;
}

.center >.search-div >.search-input> .remove-search-query{
display: flex;
background-color: transparent;
flex-direction: row;
justify-content: flex-end;
}

.center >.search-div >.search-input> .remove-search-query >.button-search-rmv{
background-color: var(--search-back) !important;
width: 38.8px;
height: 38.8px;
border: none;
padding: 0;
right: 0;


}

.center >.search-div > .search-input>.remove-search-query >.button-search-rmv:hover{
background-color: var(--hovered)!important;
border-radius: 50%;
}

.center > .search-div > .search-input>.remove-search-query> .button-search-rmv svg {
fill: currentcolor;
background-color: transparent;

}


/*=============================search button=======================*/
.center>.btn-search {
width: 64px;
height: 40px;
background-color: rgba(255, 255, 255, 0.08);
border-radius: 0 40px 40px 0;
margin-right: 4px;
border: 0.1ch solid #303030;
padding: 0;

}

.center>.btn-search svg {


fill: currentcolor;
background-color: transparent;

}

.center >.btn-search:hover::after{/* tooltip edit */
content: attr(btn-title);
background-color:  #4b4b4be8;
color: var(--main-text);
position:fixed;
border-radius: 4px; 
top: 9%;
left: 70%;
padding: 8px;
transform: translateX(-50%);
z-index: 9999;
font-size: 12px;
line-height: 20px;

}
/*===============================mike search==============================*/
.center>.mike-btn {
width: 40px;
height: 40px;
background-color: #ffffff14;
border-radius: 24px;
margin-left: 12px;
border: none;
padding: 0;
position: relative;

}

.center>.mike-btn svg {


fill: currentcolor;
background-color: transparent;

}
.center >.mike-btn:hover{
background-color: var(--hovered);
border-color: transparent;
}

.center >.mike-btn:active
{
background-color: var(--actived);
}

.center >.mike-btn:hover::after{
content: attr(btn-title);
background-color:  #4b4b4be8;
color: var(--main-text);

position: fixed;
border-radius: 4px; 
top: 9%;
left: 75%;
padding: 8px;
transform: translateX(-50%);
z-index: 1;
font-size: 12px;
line-height: 20px;

} 

/*=====================================Right side of container============================*/
.end {
height: 40px;
width: 187px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

/*================================upload button===================================*/
.end>.upload-btn {
width: 40px;
height: 40px;
margin-right: 8px;
padding: 8px;
border: none;
}

.end>.upload-btn svg {
fill: currentcolor;
background-color: transparent;

}
.end >.upload-btn:hover{
background-color: var(--hovered);
border-radius: 24px;
}

.start >.nav-btn:active{
background-color: var(--actived);
}

.end >.upload-btn:hover::after{
content: attr(btn-title);
background-color:  #4b4b4be8;
color: var(--main-text);
display: block;
position: fixed;
border-radius: 4px; 
top: 9%;
left: 87.5%;
padding: 8px;
transform: translateX(-50%);
z-index: 1000;
font-size: 12px;
line-height: 20px;

}


/*================================notifications button===============================*/
.end>.notification-btn {
width: 40px;
height: 40px;
border: none;
margin-right: 8px;



}

.end>.notification-btn svg {
fill: currentcolor;
background-color: transparent;
}

.end >.notification-btn:hover{
background-color: var(--hovered);
border-radius: 24px;
}

.start >.nav-btn:active{
background-color: var(--actived);
}


.end >.notification-btn:hover::after{
content: attr(btn-title);
background-color:  #4b4b4be8;
color: var(--main-text);

position: fixed;
border-radius: 4px; 
top: 9%;
left: 91%;
padding: 8px;
transform: translateX(-50%);
z-index: 1000;
font-size: 12px;
line-height: 20px;

}


/*=========================================profile=================================*/
.end>.prof-btn {
width: 60px;
height: 34px;
border: 0px;
padding: 1px 6px;
margin: 0 8px;

}

.end>.prof-btn img {
width: 32px;
height: 32px;
margin: 0px 8px;
border: 0px;
border-radius: 24px;
}


/* ===============================navbar============================ */

.navbar {
    background-color: inherit;
    /* width: 72px; */
    padding: 0 4px;
    position: fixed;
    height: 100%;
    left: 0;
    /* Align to left */
    top: 56px;
    /* Align to top */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    z-index: 9999;
    align-items: center;
}


.navbar>.container {
margin-top: 4px;
/* width: 64px;
height: 296px; */

left: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
border: none;

}
.navbar > .container >.btn{
padding: 16px 0 14px;
width: 67px;
height: 74px;
border: none;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 0;
}


.navbar>.container> .btn > svg {

fill: currentcolor;
background-color: transparent;
}

.navbar >.container > .btn:hover{
background-color: var(--hovered);
border-radius: 8px;
}

.navbar >.container > .btn:active{
background-color: var(--actived);

}


.navbar > .container >.btn >.btn-text {
color: var(--main-text);
font-family: "Roboto","Arial",sans-serif;
background-color: transparent;
line-height: 1.4rem;

}


.expanded{
width: 240px;

}

.expanded::after{
position: fixed;
top: 0;
bottom: 0;
left: 100%;
visibility: visible;
width: 20px;
content: "";
}

.expanded >.container{

padding: 12px;
border-bottom: 1px solid var(--border);
}

.expanded >.container > .btn{
width: 204px;
        height: 40px;
        padding: 0 12px;
        display: flex;
        flex-direction: row;
          justify-content: flex-start;
          text-decoration: none;
        
      
}



.expanded >.container >.btn> svg{
margin-right: 24px;
}

.expanded >.container >.btn > .btn-text{
line-height: 20px;
font-size: 14px;
font-weight: 500;
/* flex: 1; */
flex-basis: 0.000000001px;
margin-right: 10px;
}


.container2{
padding-top: 12px;
height: 172.8px;
display: flex;
flex-direction: column;
flex-grow: 1;
border-bottom: 1px solid var(--border) ;
}
.expanded > .container2 >.modibtn{
width: 204px;
        height: 40px;
        padding: 0 12px;
        display: flex;
        flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
          border: none;
}
.expanded >.container2 >.modibtn> svg{
fill: currentcolor;
background-color: transparent;

}
.expanded >.container2>.modibtn>.boldbtn-text{
color: var(--main-text);
font-family: "Roboto", Arial, sans-serif;
background-color: transparent;
font-size: 1.7rem;
line-height: 2rem;
font-weight: 520;

}
.expanded>.container > .btn.hovered{
background-color: #c2c2c233;
border-radius: 8px;
}
.expanded>.container > .btn.hovered:hover{
background-color: #d3d3d348;
border-radius: 8px;
}



.expanded>.container2 > .modibtn.hovered{
background-color: var(--hovered);
border-radius: 8px;
}

.expanded>.container2>.modibtn:hover{
background-color: var(--hovered);
border-radius: 8px;
}

.expanded > .container2 >.modibtn >.btn-text {
color: var(--main-text);
font-family: "Roboto","Arial",sans-serif;
background-color: transparent;
margin-right: 10px; 
line-height: 20px;
font-size: 14px;
font-weight: 500;
/* flex: 1; */

}




.nav{

width:100%;
height: 60px;
position: fixed;
background-color: var(--main-color);
top: 52.4px;
left: 54px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
z-index: 1;
}
.nav>.scroll-bar{
    height: 60px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    left: -9px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: transparent;
}


.btncontainer{
padding: 0 24px;
display: flex;
flex: 1;
flex-direction: row;
position: relative;
left: 21px;
}
.nav>.scroll-bar>.btncontainer>.catagory-btn{
text-align: center;
justify-items: center;
border:none;
margin: 12px;
margin-left: 0;
padding: 6px 24px;
border-radius: 8px;
user-select: none;
white-space: nowrap;
background: var(--border);
font-family: "Roboto", "Arial", sans-serif;
font-size: 1.2rem;
line-height: 2rem;
font-weight: 550;

}
.scroll-btn{
background-color: transparent;
width: 40px;
height: 40px;
border: none;
display: flex;
align-items: center;
justify-content: center;
padding: 2px;
}

.scroll-btn:hover{
background-color: #5a5a5a;
border-radius: 50%;
}

.scroll-btn> svg{
fill: white;
background-color: transparent;
}
.btn2{
border: none;
border-radius: 50%;
background-color: #5a5a5a;
}

.nav>.scroll-btn-right{
display: flex;
width:106px;
height: 100%;
z-index: 1000000;
position: absolute;
align-items: center;
justify-content: flex-end;
background:linear-gradient(to left,#0f0f0f 35%,#21212100 65%);
margin-right: 9px;
right: 26px;
} 

.nav>.scroll-btn-left{
display: flex;
width: 106px;
height: 100%;
left: 21px;
z-index: 1000000;
justify-content: flex-start;
position: absolute;
align-items: center;
background: linear-gradient(to right,#0f0f0f 35%,#21212100 65%);
}


.content-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    display: flex;
    left: 69px;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    will-change: transform;
}


.content-container >.vid-container{
display: flex;
width: 100%;
flex-wrap: wrap;
margin: 0 16px;
flex-direction: row;
gap: 20px;
 top: 118px;
 left: 15px;
position: absolute;

}

.content-container >.vid-container>.box{
width:398.31px;
height: 320.11px;
display:flex;
flex-direction: column;
transition: left 300ms ease-in-out;
margin-bottom: 40px;
}

.content-container >.vid-container>.box>.vid1{
    position: relative;
        height: 70%;
        border-radius: 8px;
        transition: 300ms;
  }
  
  .content-container >.vid-container>.box>.vid1:hover{
    border-radius: 0px;
   
      }

  .content-container >.vid-container>.box>.vid1>.vid{
  
  width: 100%;
  height: 100%;
  border-radius: none;
  border: none;
  /* position: relative; */
  
  }
  
 
  
  .content-container >.vid-container>.box>.vid1>.mute-unmute{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    top: 5px;
    right:3px;
    align-items: center;
    display: flex;
    z-index: 1;

}
.content-container >.vid-container>.box>.vid1>.mute-unmute:hover{
  
    background-color: rgb(0 0 0 / 52%);
    transition: 200ms;
   
}


.content-container >.vid-container>.box>.details>.accprof{
width: 32px;
height: 32px;
margin: 0px 8px;
border: 0px;
border-radius: 24px;
}
.content-container >.vid-container>.box>.details
{
left: 0;
padding-top: 10px;
display: flex;
align-items: center;
inline-size: 300px;
order: 2;

}

.content-container >.vid-container>.box>.metadata
{
    width: 87%;
position:relative;
left: 48px;
display: flex;
flex-direction: column;
gap: 5px;
order: 3;
}


.content-container >.vid-container>.box>.vid1>.thumbnail {
    position: absolute;
    width: 100%; 
    height: 100%; 
    background-size: cover;
    background-image: url('images/mv.jpg');
   
  }


  #tap-area{
    height: 20px;
    width: 100%;
    bottom: -7px;
    background-color: #fdfdfd00;
    position: absolute;
    z-index: 0;
}

#overlay {
    position: absolute;
    top: 93%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 2px;
 
    text-align: center;
}

#progress-circle{
    height: 9px;
    width: 9px;
    background-color: #53fd10;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    border-radius: 50%;
    position: absolute;
}

#custom-progress-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #b9b9b96e;
   
    bottom:0.5px;
    align-items: center;
    display: flex;
}

#progress-indicator {
    height: 100%;
    width: 0;
    background-color: #53fd10;
    transition: width 0.1s linear;
    
}


/* ========================================loading animation============================ */
.cards {
    background: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card_image.loading {
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-bottom: 4px;
   
}
.card_prof.loading{
    width: 32px;
    height: 32px;
    margin: 2px 8px 3px;
    border: 0px;
    border-radius: 24px;
    overflow: hidden;
}

.card_title.loading {
    width: 87%;
    left: 0;
    height: 1.5rem;
    margin: 9px 0px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
   
}
.title-prof{

    display: flex;
    flex-direction: row;
}

.card_description.loading {
    width: 86%;
    height: 3rem;
    margin: 1px;
    left: 48px;
    border-radius: 3px;
    overflow: hidden;

}
.loading {
    position: relative;
    background: #222222;
}
.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100px);
    background: linear-gradient(90deg, transparent, rgba(138, 137, 137, 0.2), transparent);
    animation: loading 0.8s infinite;
}
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}


/* ====================================video_page specific elements============================*/


.cont-container{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    overflow: auto;
    will-change: transform;
}

.cont-container>.selected-vid{
    width: 55%;
    height: 86%;
    left: 32px;
    display: flex;
    flex-direction: column;
    top: 79px;
    position: relative;
}

.cont-container>.selected-vid>.vid-box{
    position: relative;
    width: 100%;
    height: 73%;
    transition: 300ms;
    order: 1;
}





.cont-container>.selected-vid>.vid-box>.vid{

    width: 100%;
    height: 100%;
    order:1;
    position: relative;
}

.cont-container>.selected-vid>.details
{
left: 0;
padding-bottom: 5px;
display: flex;
align-items: center;
inline-size: 300px;
order: 2;
z-index: 1;
width: 100%;
}
.cont-container>.selected-vid>.details>.vidtitle{
    width: 608px;
    /* white-space: nowrap; */
    margin: 10px 10px 7px;
    width: 100%;
}

.cont-container>.selected-vid>.metadata>.firstcontainerformeta>.accprof{
    width: 32px;
    height: 32px;
    margin: 0px 8px;
    border: 0px;
    border-radius: 24px;
    }


    .cont-container>.selected-vid>.metadata
{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    order: 3;
    align-items: center;
    margin-top: 3px;
    white-space:nowrap;
   
    gap:50px;
}


.cont-container>.selected-vid>.metadata>.firstcontainerformeta>.join-sub>.sub-btn{
    width: 96px;
    height: 35px;
    display: flex;
    border: none;
    background-color: #e0e0e0;
    border-radius: 80px;
    color: #0f0f0f;
   font-weight: 600;
   font-size: small;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   align-items: center;
   justify-content: center;
}


.cont-container>.selected-vid>.metadata>.firstcontainerformeta>.join-sub>.join-btn{
    width: 58px;
    height: 35px;
    border: none;
    display: flex;
    background-color: #2e2c2c;
    border-radius: 67px;
    color: #eeeded;
    font-weight: 600;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
align-items: center;
justify-content: center;
}


.cont-container>.selected-vid>.metadata>.other-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}



.cont-container>.selected-vid>.metadata>.other-btns>.like-dislike{
    width: 132px;
    height: 35px;
    border: none;
    display: flex;
    background-color: #272727;
    border-radius: 67px;
    color: #d1cece;
    font-weight: 600;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
align-items: center;
justify-content: center;
}


.cont-container>.selected-vid>.metadata>.other-btns >.like-dislike>.like-btn{
    width: 79.88px;
    height: 35px;
    border:none ;
    border-right: 1px solid;
    border-color: #b4b1b18f;
    display: flex;
    position: relative;
    border-radius: 67px 0px 0px 67px;
    color: #fffbfb;
    background-color: #272727;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
align-items: center;
justify-content: center;
}

.cont-container>.selected-vid>.metadata>.other-btns>.like-dislike>.dislike-btn{
    width: 52px;
    height: 35px;
    border:none ;
    border-color: #b4b1b18f;
    display: flex;
   
    position: relative;
    border-radius: 0px 67px 67px 0px;
    color: #d1cece;
    background-color: #272727;
    font-weight: 600;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;
justify-content: center;
}


.cont-container>.selected-vid>.metadata>.other-btns>.share-btn{
    width: 86.11px;
    height: 35px;
    border:none ;
    border-color: #b4b1b18f;
    display: flex;
   
    position: relative;
    border-radius: 67px;
    color: #f1f0f0;
    background-color: #272727;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;

}

.cont-container>.selected-vid>.metadata>.other-btns>.save-btn{
    width: 80.11px;
    height: 35px;
    border:none ;
    border-color: #b4b1b18f;
    display: flex;
   
    position: relative;
    border-radius: 67px;
    color: #f1f0f0;
    background-color: #272727;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;

}

.cont-container>.selected-vid>.metadata>.other-btns>button:hover,
.cont-container>.selected-vid>.metadata>.other-btns>.like-dislike>button:hover,
.cont-container>.selected-vid>.metadata>.firstcontainerformeta>.join-sub>.join-btn:hover
{
    background-color: #83828269;
}

.cont-container>.selected-vid>.metadata>.firstcontainerformeta>.join-sub>.sub-btn:hover{
    background-color:#c9c8c8 ;
}




.cont-container>.recomended-vids{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 79px;
    left: 33px;
}

.cont-container>.recomended-vids>.recommend-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 79px;
}
.cont-container>.recomended-vids>.recommend-container>.box{
    width:90%;
    height: 98px;
    display: flex;
    flex-direction: row;
    gap: 7px;
}


.cont-container>.recomended-vids>.recommend-container>.box>.vid1{
    position: relative;
    height: 100%;
    width: 200px;;
    /* overflow: hidden; */
}


.cont-container>.recomended-vids>.recommend-container>.box>.vid1>.vid{
    width: 100%;
    height: 100%;
    border-radius: none;
    border: none;
   background-color: black;
}


.cont-container>.recomended-vids>.recommend-container>.box>.vid1>.mute-unmute{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    top: -4px;
    left: 171px;
    align-items: center;
    display: flex;
    z-index: 1;

}


    .cont-container>.recomended-vids>.recommend-container>.box>.data>.details
{
left: 0;
padding-top: 4px;
display: flex;
align-items: center;
inline-size: 300px;


}

.cont-container>.recomended-vids>.recommend-container>.box>.data>.metadata
{
    width: 100%;
position:relative;
padding-top: 4px;
display: flex;
flex-direction: column;
gap: 5px;
}


.cont-container>.recomended-vids>.recommend-container>.box>.vid1>.thumbnail {
    position: absolute;
    width: 100%; 
    height: 100%; 
    background-size: cover;
    z-index: 9998;
  }


  .cont-container>.recomended-vids>.recommend-container>.box>.vid1>#tap-area{
    height: 20px;
    width: 100%;
    bottom: -7px;
    background-color: #fdfdfd00;
    position: absolute;
    z-index: 0;
}

.cont-container>.recomended-vids>.recommend-container>.box>.vid1>#overlay {
    position: absolute;
    top: 87.5%;
    left: 91%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 2px;
 z-index: 9999;
    text-align: center;
}

.cont-container>.recomended-vids>.recommend-container>.box>.vid1>#progress-circle{
    height: 9px;
    width: 9px;
    background-color: #53fd10;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    border-radius: 50%;
    position: absolute;
}

.cont-container>.recomended-vids>.recommend-container>.box>.vid1>#custom-progress-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #b9b9b96e;
   
    top: 95px;
    align-items: center;
    display: flex;
}

.cont-container>.recomended-vids>.recommend-container>.box>.vid1>#progress-indicator {
    height: 100%;
    width: 0;
    background-color: #53fd10;
    transition: width 0.1s linear;
    
}





.cont-container>.selected-vid>.vid-box>.video-controls>.mute-unmute{
   
    height: 36px;
    width: 36px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    
    align-items: center;
    display: flex;
   order:3;

}




.cont-container>.selected-vid>.vid-box>#tap-area1{
    height: 20px;
    width: 100%;
    bottom: 34px;
    background-color: #fdfdfd00;
    position: absolute;
    z-index: 0;
}

.cont-container>.selected-vid>.vid-box>.video-controls>.video-time{
    width: auto;
    height: 36px;
    order: 3;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.cont-container>.selected-vid>.vid-box>.video-controls>.video-time>#overlay1
{ 
    border: none;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 100ms;
    order: 1;
}

.cont-container>.selected-vid>.vid-box>.video-controls>.video-time>#overlay2 {
   
    border: none;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 100ms;
    order: 3;
}

.cont-container>.selected-vid>.vid-box>#custom-progress-bar1>#progress-circle1{
    height: 9px;
    width: 9px;
    background-color: #53fd10;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    border-radius: 50%;
    position: absolute;
 
}

.cont-container>.selected-vid>.vid-box>#custom-progress-bar1 {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #b9b9b96e;
   transition: 1s ease-in-out;
  
    align-items: center;
    display: flex;
    
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition for opacity and transform */
}

.cont-container>.selected-vid>.vid-box>#custom-progress-bar1>#progress-indicator1 {
    height: 100%;
    width: 0;
    background-color: #53fd10;
    transition: width 0.1s linear;
    
    position: relative;
}


.cont-container>.selected-vid>.vid-box>.video-controls{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    gap: 2px;
    transition: 200ms ease-in-out;/* Smooth transition for opacity and transform */
}

.cont-container>.selected-vid>.vid-box>.video-controls>.play-pause-btn{
 
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f00;
    order: 1;
}
/* .cont-container>.selected-vid>.vid-box>.video-controls>.play-pause-btn:hover{
    background-color: #1d1d1d96;
} */

.cont-container>.selected-vid>.vid-box>.video-controls>.play-pause-btn>.play-btn,
.cont-container>.selected-vid>.vid-box>.video-controls>.play-pause-btn>.pause-btn
{
    
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    display: flex;
   
}


.cont-container>.selected-vid>.vid-box>.video-controls>.next-btn{
    
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    order: 2;
    
}

.navbar > .container > #upload-btn-mobile{

display: none;}






.navbar.expanded ~ .content-container
{
left: 240px; 
width: calc(100% - 240px);
transition: left 150ms ease-in-out;
}

.navbar.expanded ~ .nav
{
    left: 240px; 
    width: calc(100% - 257px);
    transition:  150ms ease-in-out;
    }

.navbar.expanded ~ .content-container >.vid-container>.box
{
    width: 340.98px;
    height: 293.36px;
}

.navbar.expanded ~.nav>.scroll-btn-left{
left:8px;
}




/* ===========================video page================================ */


.ytvid{
    width: auto;
    height: auto;
    position: fixed;
    background-color: transparent;
    top: 68px;
    left: 82px;
}
.ytvid>video{
    border-radius: 10px;
}

.vidscontainer>.vidsuggetion{
    right:0;
    width: auto;
    height: 100%;
}

.vidscontainer>.vidsuggetion>.suggetion-vid-details{
    width: 20%;

}



@media (max-width: 1440px) {

    .content-container {
    
    width: 95.2%;
    }
    .nav {
    
    width: 95.2%;
    }
    .nav>.scroll-btn-right{
    right:0;
    }
    
    .content-container >.vid-container>.box {
        width: 422.31px;
        height: 341.11px;
    }
    

    .navbar.expanded ~ .content-container >.vid-container>.box
{
    width: 367.98px;
    height: 296.36px;
}
    }
    




@media (max-width: 1366px) {

.content-container {

width: 94.9%;
}
.nav {

width: 94.9%;
}
.nav>.scroll-btn-right{
right:0;
}

.content-container >.vid-container>.box {
    width: 399.31px;
    height: 327.11px;
}
.navbar.expanded ~ .content-container >.vid-container>.box
{
    width: 343.98px;
    height: 278.36px;
}
}


/* for-desktop-up */
@media (max-width: 1280px) { 
    .content-container {

        width: 94.6%;
        }
        .nav {
        
        width: 94.6%;
        }
        .nav>.scroll-btn-right{
        right:0;
        }
    .content-container >.vid-container>.box {
        width: 372.31px;
        height: 301.36px;
    }

    .navbar.expanded ~ .content-container >.vid-container>.box
{
    width: 315.98px;
    height: 256.36px;
}
}




/* for-tablet-landscape-up */
@media (max-width: 900px)
{
    
    

}

@media (max-width: 810px) {

.header{
    width: 98.1%;
}

    .start>.icon {
        padding: 15px 16px 18px 15.2px;
        }
        
        .search-form{
            width: auto;
            }

    .content-container {
        left: 73px;
        width: 91%;
    }
    .nav {
       
        width: 91.6%;
    }
    
    .content-container >.vid-container>.box
{
  width: 330.98px;
    height: 270.36px;
}

.navbar.expanded ~ .content-container >.vid-container>.box
{
    width: 93%;
    height: 91%;
}


.navbar.expanded ~ .nav
{
   
    width: calc(91.6% - 257px);
   
    }

}

@media (max-width: 768px) {

.content-container {
    left: 73px;
    width: 91%;
}
.nav {
   
    width: 91%;
}
.content-container >.vid-container>.box
{
    width: 312.98px;
    height: 293.36px;
}

}


/* for-tablet-portrait-up */
@media (max-width: 600px) { }



/* for-phone-only */
@media (max-width: 599px) { }




@media (max-width:450px){


    

    .content-container {
       
        width: 84%;
    }
    .nav {
       
        width: 84%;
    }
    .nav>.scroll-btn-left{
        left: -4px;
    }
    }

    @media (max-width:400px){


         .navbar {
            top: auto;
        height: auto;
        padding: 0 4px;
      
        width: 100%;
        left: 0;
        bottom: 0; /* Align to bottom */
        /* Align to left */
    }

   .navbar>.container {
    flex-direction: row;
    padding: 7px 0 7px;
    width: auto;
    height: 46px;
    gap: 34px;
      
    }

    .navbar > .container >.btn {
        padding: 3px 0 3px;
        /* width: 67px; */
        height: 48px;
       
    }


    .navbar > .container > #upload-btn-mobile{
        display: block;

    }


   .container >.btn {
        padding: 7px 0 7px;
        width: 67px;
        height: auto;
    }


        .content-container {
            left: 73px;
            width: 80.8%;
        }
        .nav {
           
            width:84%;
        }
        
        .content-container >.vid-container>.box
    {
       width: 265.98px;
            height: 236.36px;
    
    }
    
    .navbar.expanded ~ .content-container >.vid-container>.box
    {
        width: 93%;
        height: 91%;
    }
    
    
    .navbar.expanded ~ .nav
    {
       
        width: calc(91.6% - 257px);
       
        }
    
    }


body, html {
    scroll-behavior: smooth;
}











/* Customize the scrollbar */
::-webkit-scrollbar {
width: 50px; /* Width of the entire scrollbar */
z-index: 9999;
}

::-webkit-scrollbar-track {
background: transparent; /* Color of the track */
border-radius: 0;
}


::-webkit-scrollbar-thumb {
background-color: #888; /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
background: #555; /* Color when hovered */
}

::-webkit-scrollbar-button{
    z-index: 9999;
}

/* For Firefox */
html {
    scrollbar-width: 12px;
    scrollbar-color: #888 transparent; /* Thumb and track color */
  }
